
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-weight: bold;
    color: #000;
}

.student-table {
    border-collapse: collapse; 
    width: 50%;
    margin-left: left;
}

.student-table thead tr {
    background-color: #808080;
    color: #000;
}

.student-table thead th.link{
	color: blue; 
    text-decoration: underline;
    cursor: pointer; 
}

.student-table thead tr th {
    border: 1px solid #000; 
    padding: 10px; 
    text-align: left;
}

/* Style the table cells in the body */
.student-table tbody tr {
    border: 1px solid #000;
}


.student-table tbody td {
	border: 1px solid #000; 
    padding: 8px; 
}

.student-table tbody td.createUpdateDeleteLinks{
	color: blue; 
    text-decoration: underline;
    cursor: pointer; 
}

.formStudent {
    width: 30%;
    margin-left: 5px;
    padding: 5px;
    
}

.formStudent label{
	display: inline-block;
	width: 25%;
	margin-bottom: 5px;
}


.formStudent input{
	width: 35%;
	padding: 8px;
	margin-bottom: 10px;
}

.buttonContainer input{
	background-color: #c0c0c0;
    color: #000000;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.formUpdateStudent{
	width: 30%;
    margin-left: 5px;
    padding: 5px;
}

.formUpdateStudent label{
	display: inline-block;
	width: 25%;
	margin-bottom: 5px;
}

.formUpdateStudent input{
	width: 35%;
	padding: 8px;
	margin-bottom: 10px;
	
}

.updatebuttonContainer input{
	background-color: #c0c0c0;
    color: #000000;
    padding: 10px;
    border: none;
    cursor: pointer;
}







